<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom Log Start-->
    <type name="RLTSquare\BackInStockNotification\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="RLTSquare\BackInStockNotification\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">rltLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">RLTSquare\BackInStockNotification\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="RLTSquare\BackInStockNotification\Observer\EmailNotification">
        <arguments>
            <argument name="logger" xsi:type="object">RLTSquare\BackInStockNotification\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="RLTSquare\BackInStockNotification\Model\StockApiCall\ApiCalls">
        <arguments>
            <argument name="logger" xsi:type="object">RLTSquare\BackInStockNotification\Logger\Logger</argument>
        </arguments>
    </type>
    <!-- Custom Log End-->

</config>
